li:nth-child(1) .text {
  background-color: violet;
}
li:nth-child(2) .text {
  background-color: indigo;
}
li:nth-child(3) .text {
  background-color: blue;
}
li:nth-child(4) .text {
  background-color: green;
}
li:nth-child(5) .text {
  background-color: yellow;
}
li:nth-child(6) .text {
  background-color: orange;
}
li:nth-child(7) .text {
  background-color: red;
}
li:nth-child(8) .text {
  background-color: violet;
}
li:nth-child(9) .text {
  background-color: indigo;
}
li:nth-child(10) .text {
  background-color: blue;
}
li:nth-child(11) .text {
  background-color: green;
}
li:nth-child(12) .text {
  background-color: yellow;
}

li:nth-child(1) {
  transform: rotate(0deg) skewY(-60deg);
}
li:nth-child(2) {
  transform: rotate(30deg) skewY(-60deg);
}
li:nth-child(3) {
  transform: rotate(60deg) skewY(-60deg);
}
li:nth-child(4) {
  transform: rotate(90deg) skewY(-60deg);
}
li:nth-child(5) {
  transform: rotate(120deg) skewY(-60deg);
}
li:nth-child(6) {
  transform: rotate(150deg) skewY(-60deg);
}
li:nth-child(7) {
  transform: rotate(180deg) skewY(-60deg);
}
li:nth-child(8) {
  transform: rotate(210deg) skewY(-60deg);
}
li:nth-child(9) {
  transform: rotate(240deg) skewY(-60deg);
}
li:nth-child(10) {
  transform: rotate(270deg) skewY(-60deg);
}
li:nth-child(11) {
  transform: rotate(300deg) skewY(-60deg);
}
li:nth-child(12) {
  transform: rotate(330deg) skewY(-60deg);
}
.circle {
  width: 25em;
  height: 25em;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  padding: 0;
  margin: 1em auto;
  border-radius: 50%;
  list-style: none;
}
li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}
.text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  display: block;
  text-align: center;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid black;
  position: absolute;
  left: 50%;
  top: -20px;
  z-index: 1;
}
.result_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result_section > button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background-color: blue;
}

.start-rotating {
  animation: rotating 0.6s linear infinite;
  animation-play-state: running;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

.pause-rotating {
  animation-play-state: paused;
}
